#about {
  
    .panel-wrapper {
      height: 100%;
      width: 100%;
    }

    .panel {
        background-color: white;
        box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
        padding:20px;
        height: 100%;
    }
}