#about {
    .col-md {
        margin-top: 20px;
    }
}

.panel-wrapper {
    height: 100%;
    width: 100%;
    border: 2px $dark-blue solid;
}

.panel-header {
    text-align: center;
    border-bottom: 2px $dark-blue solid;
}

.panel {
    padding: 20px;
}