#banner {
    text-align: center;

    #carousel {
        background-image: url("/img/banner1.jpg");
        background-size: cover;
        background-position: top;
        height: 800px;

        img {
          max-height: 600px;
          max-width: 100%;
          margin: 100px 0;
          width: auto;
          vertical-align: middle;
        }

        transition: 3s;
    }
}