$dark-blue: #012C39;
$blue: #072E4C;
$light-blue: #67C8C7;
$light-blue2: #007e86;
$red-orange: #F05623;
$orange: #F5862F;
$dark-orange: #f05623;
$yellow: #E4E583;

$light-gray: #EEE;
$dark-gray: #D0D4D9;