$screen-xs-max: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1200px;
$width-lg: 1170px;
$width-md: 960px;
$width-sm: 750px;
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-md {
    height: 100%;
    margin-bottom: 20px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    &:after {
        clear: both;
    }
}

img {
    vertical-align: middle;
}

.container {
    &::after {
        clear: both;
        display: table;
        content: " ";
    }
}

.text-center {
    text-align: center;
}

.text-danger {
    color: $red-orange;
}

.text-success {
    color: $light-blue;
}

.pull-right {
    float: right;
}

.hidden {
    display: none;
}

.margin-top-20 {
    margin-top: 20px;
}


/* Small devices (desktops, 768px and up) */

@media (min-width: $screen-xs-max) {
    .container {
        width: $width-sm;
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: $screen-sm-max) {
    .container {
        width: $width-md;
    }
    .col-md {
        display: table-cell;
        vertical-align: middle;
        padding: 0px 10px;
    }
}


/* Large devices (desktops, 1200px and up) */

@media (min-width: $screen-md-max) {
    .container {
        width: $width-lg;
    }
}