#donate {
    .panel:first-child {
        flex: 2 1 0;
    }
    button {
        background-color: $light-blue;
        border: 2px $light-blue2 solid;
        color: white;
    }
    .together {
        color: $light-blue;
    }
}