#feed {
    margin-bottom: 50px;
}

#instafeed {
    .col-md {
        text-align: center;
        margin-bottom: 20px;
    }
    a {
        width:100%;
        display: inline-block;

        img {
            width: auto;
            max-height: 300px;
        }
    }
}