#instafeed {
    .col-md {
        text-align: center;
    }
    a {
        width:100%;
        display: inline-block;

        img {
            width: auto;
            max-height: 300px;
        }
    }
}