@font-face {
    font-family: "Trenda";
    src: url('/fonts/trenda-regular.ttf') format("truetype");
}

body {
    font-family: 'Trenda';
}

h1, h2, h3 {
    font-weight: bold;
    margin: 10px 0;
    color: $dark-blue;
}

h1 {
    font-size: 2.5em; /* 40px/16=2.5em */
}

h2 {
    font-size: 1.875em; /* 30px/16=1.875em */
}

h3 {
    font-size: 1.5em; /* 24px/16=1.5em */
}