$font-black: "Trenda-Black";
$font-bold: "Trenda-Bold";
$font-normal: "Trenda";

$font-size-sm: 1em;
$font-size-md: 1.25em;
$font-size-lg: 1.5em;
$font-size-xlg: 1.75em;

@font-face {
    font-family: $font-normal;
    src: url('/fonts/trenda-regular.ttf') format("truetype");
}

@font-face {
    font-family: $font-black;
    src: url('/fonts/trenda-black.ttf') format("truetype");
}

@font-face {
    font-family: $font-bold;
    src: url('/fonts/trenda-bold.ttf') format("truetype");
}

body {
    font-family: $font-normal;
}

h1, h2 {
    font-family: $font-bold;
    margin: 10px 0;
    color: $dark-blue;
    text-transform: uppercase;
}

h1 {
    font-size: $font-size-xlg;
}

h2 {
    font-size: $font-size-lg;
}

p {
    margin: 10px 0;
    font-size: $font-size-md;
    line-height: 1.2em;
}