.required:after {
    content: "*";
    color: $red-orange;
}

.form-group {
    width: 100%;
}

@media (min-width: $screen-sm-max) {
    .form-group {
        margin-bottom: 1rem;
    }
}

label {
    margin-bottom: .5rem;
    font-size: $font-size-md;
}

input,
select,
textarea {
    width: 100%;
    border: 2px solid $dark-blue;
    padding: 7px;
    background: white;
    font-size: $font-size-md;
    &:focus {
        border: 2px solid $blue;
    }
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
}

textarea {
    resize: none;
}

button {
    cursor: pointer;
    border: none;
    padding: 15px 60px;
    color: white;
    background-color: $dark-blue;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $font-size-md;
    &:hover,
    &:active {
        background-color: $blue;
    }
    &:disabled {
        background-color: $light-gray;
        cursor: not-allowed;
    }
}

.error {
    border: 1px solid $red-orange;
}