#members {
    display: flex;
    flex-wrap: wrap;
    .member {
        flex: 1;
        flex-basis: 100%;
        position: relative;
        cursor: pointer;
        @media (min-width: $screen-xs-max) {
            flex-basis: percentage(1/2);
            max-width: percentage(1/2);
        }
        @media (min-width: $screen-sm-max) {
            flex-basis: percentage(1/3);
            max-width: percentage(1/3);
        }
        text-align: center;
        padding: 0 20px;
        margin: 20px 0;
        .bubble {
            color: white;
            font-size: 3em;
            position: relative;
            img {
                display: block;
            }
            .first {
                font-weight: 700;
                font-style: italic;
                bottom: 50%;
            }
            .last {
                top: 50%;
            }
            .first,
            .last {
                position: absolute;
                width: 100%;
            }
        }
        .title {
            font-size: $font-size-lg;
            margin: 30px 0;
        }
        .quote {
            font-size: $font-size-xlg;
            font-weight: bold;
            margin: 30px 0;
            &:before {
                content: "“";
            }
            &:after {
                content: "”";
            }
        }
        &:nth-child(odd) {
            .quote {
                color: $light-blue;
            }
            button {
                background: $light-blue; //border: 2px solid $blue;
            }
        }
        &:nth-child(even) {
            .quote {
                color: $orange;
            }
            button {
                background: $orange; //border: 2px solid $blue;
            }
        }
    }
}