#mission-statement {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  color: $light-blue;
  text-align: center;
  font-family: $font-bold;
  margin: 50px 0;

  .highlight {
    color: $orange;
    font-style: italic;
  }
}