#more-info {
  background-color: $light-gray;

    p {
        font-size: 1.25em;
    }

    form {
      margin-top: 20px;
    }

    #submit-error,
    #submit-success {
        font-weight: bold;
    }
}