$nav-height: 69px;

nav {
    width: 100%;
    position: fixed;
    background-color: rgba(white, 0.9);
    color: $dark-blue;
    font-weight: bold;
    line-height: 3em;
    text-align: center;
    .navbar-brand {
        display: block;
        padding: 10px 0;
    }
    .navbar-nav {
        display: none;
        a {
            display: inline-block;
            padding: 10px 15px;
        }
    }
}

@media (min-width: $screen-xs-max) {
    nav {
        text-align: inherit;
        .navbar-brand {
            display: inline-block;
        }
        .navbar-nav {
            display: block;
        }
    }
}