nav {
    button {
        &:hover {
            background: initial;
        }
    }
    #register-now {
        text-transform: uppercase;
        color: $dark-orange;
        &:hover {
            color: $orange;
        }
    }
    .navbar-brand {
        margin: 0;
        padding: 0;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: $dark-blue;
    &:hover {
        color: $orange;
    }
}