nav {
    width: 100%;
    position: fixed;
    background-color: rgba(white, 0.9);
    color: $dark-blue;
    font-weight: bold;
    line-height: 3em;
    height: 3em;
    .navbar-header {
        font-weight: bold;
    }
    a {
        display: inline-block;
        padding: 0 15px;

        &:hover, &:active {
            background-color: rgba($orange, 0.9);
        }
    }
}