#sponsors {
  background-color: #D0D4D9;
  color: white;

  img {
        max-width: 100%;
    }

    table {
        width: 100%;
        table-layout: fixed;
        margin: 40px 0px;

        td {
            vertical-align: middle;
        }
    }
}