#sponsors {
  background-color: $dark-gray;

  .badge {
      display: inline-block;
      background-color: $dark-blue;
      color: white;
      font-size: $font-size-md;
      padding: 10px 20px;
  }

  img {
        max-width: 100%;
    }

    table {
        width: 100%;
        table-layout: fixed;
        margin: 40px 0px;

        td {
            vertical-align: middle;

            a {
                display: block;
                margin-top: 20px;
            }
        }
    }
}