#sponsors {
    background-color: $dark-gray;
    .badge {
        display: inline-block;
        background-color: $dark-blue;
        color: white;
        font-size: $font-size-md;
        padding: 10px 20px;
        margin: 30px 0;
    }
    img {
        max-width: 100%;
    }
    .col-md {
        vertical-align: top;
    }
    a {
        display: block;
    }
}