#become-a-sponsor {
    background: $light-gray;
    .panel:first-child {
        flex: 2 1 0;
    }
    button {
        background: $orange;
        border: 2px $dark-orange solid;
    }
    .together {
        color: $orange;
    }
    ul {
        margin-left: 40px;
        list-style: square;
        li {
            p {
                color: initial;
            }
            &:nth-child(odd) {
                color: $orange;
            }
            &:nth-child(even) {
                color: $light-blue;
            }
        }
    }
}