@import 'donate';
@import 'support';
#support-us {
    .btn {
        width: 80%;
        margin: 20px 0;
    }
    .bold {
        font-weight: bold;
        color: $dark-blue;
        font-style: italic;
    }
    .together {
        text-transform: uppercase;
        font-weight: bold;
        font-size: $font-size-xlg;
    }
    #carousel {
        background-image: url("/img/HighFiveOrange_Header.jpg");
    }
}