@import 'colors';
@import 'common';
@import 'fonts';
@import 'panel';
@import 'forms';
@import 'nav';
@import 'banner';
@import 'about';
@import 'mission-statement';
@import 'more-info';
@import 'sponsors';
@import 'contact';
@import 'feed';
@import 'footer';
@import 'register';
@import 'support-us';
@import 'team';
@import 'modal';
a {
    color: inherit;
    text-decoration: none;
    color: $dark-blue;
    font-family: $font-bold;
    &:hover,
    &:active {
        color: $orange;
    }
}

strong {
    font-family: $font-bold;
    font-size: $font-size-md;
}

ul {
    list-style: circle;
    margin: 1em;
}

section {
    padding: 50px 0;
}

hr {
    border-width: 1px;
    border-color: $dark-blue;
}

.orange {
    color: $orange;
}

.blue {
    color: $light-blue;
}

.bold {
    font-weight: bold;
    color: $dark-blue;
    font-style: italic;
}

em {
    font-style: italic;
}