@import 'reset';
@import 'colors';
@import 'common';
@import 'forms';
@import 'fonts';

@import 'nav';
@import 'logo';

@import 'about';
@import 'more-info';
@import 'sponsors';
@import 'footer';

body {
    background-color: #f0f3f5;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 1em 0;
}

ul {
    list-style: circle;
    margin: 1em;
}

section {
    padding: 20px 0;
}