@import 'reset';
@import 'colors';
@import 'common';
@import 'fonts';

@import 'nav';
@import 'logo';

@import 'about';


a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 1em 0;
}

ul {
    list-style: circle;
    margin: 1em;
}

section {
    padding: 10px 0;
}

#sponsors {
    img {
        max-width: 100%;
    }

    table {
        width: 100%;
        table-layout: fixed;

        td {
            vertical-align: middle;
        }
    }
}

footer {
    text-align: center;
    padding: 10px;
}
