#modal.hidden
  #modal-dialog
    a(role="button").close.pull-right X
    .prev <
    .next >
    #modal-content
      img(src="")
      .name
        .first
        | &nbsp;
        .last
      .title
      .text-center
        em.qualifications
      .quote
      p.bio