section#donate
  .container
    .panel-group
      include donate-panel
      include ../special-thanks-to
    .text-center
      a(href="http://crowdfundraising.ubc.ca/projects/invisible-conditions-youth-conference-2017/")
        button Donate to us now