#donate-panel.panel
  .panel-header 
    h1 Donate To Us
  .panel-body
    p The
      span.bold  Invisible Conditions Conference
      span  aims to bring youth (ages 13-25) with invisible chronic health conditions together in a safe space to share their knowledge and experiences and create a supportive network. Led by a team of multi-disciplinary students and professionals who have experience with these conditions, sessions will focus on common challenges and stories of success.
    p The vision for the 
      span.bold  Invisible Conditions Conference
      span  is to bring this usually private struggle into the light, and offer kindness and support to youth who fight it daily. We want to boost the confidence of youth newly diagnosed or living with invisible conditions and help them see what is possible when people come together.
    p We could use your help to make this the best conference we can. Our team is looking to raise $6,000.00 from the community to help us create and orchestrate this conference. All funds will be used to directly support the conference (i.e., food, venue, website, and research).
    p We would be incredibly grateful for any donations made, and we thank you in advance for your support!
    p.together TOGETHER WE ARE NOT INVISIBLE!