extends ../base.pug

block content
  #support-us
    #banner
      #carousel
        .container
          h1 Our mission is to create a supportive network.
    .container
      #mission-statement
        span WE NEED
        span.highlight  YOUR SUPPORT
        span &nbsp; TO MAKE THIS CONFERENCE THE BEST IT CAN BE.
    include donate
    include support
    include ../contact
    include ../feed