extends ../base.pug

block content
  .container
    h2.text-center Frequently Asked Questions

    strong What will we do at the conference?
    p When you arrive at the Invisible Conditions Conference (ICC) you will meet your mentor and the other participants in your small group. This will be your team for the day and you will travel through the other activities together.
    p The day features a panel discussion, three small group break-out sessions (Taking Care of Me, Navigating Relationships, and Thinking About my Future), learning booths, and, a closing activity. There will also be a mini ball-pit, a life size board game, a giant Invisiball, and other opportunities for you to express yourself creatively. 
    p All participants will also received a handy Survival Guide that you will use during the conference and can take home. 

    strong Where is the conference being held?
    p In the Ponderosa Commons Oak House building at the University of British Columbia at 2075 Lower Mall, Vancouver, BC V6T 1Z2. See 
      a(href="https://goo.gl/maps/5jYhqXBVgHq") Google Maps
      |  or 
      a(href="http://www.maps.ubc.ca/PROD/index_detail.php?show=y,n,n,n,n,y&bldg2Search=n&locat1=905&locat2=") UBC Wayfinding
      | .

    strong Is lunch  provided?
    p Yes, and snacks. It’ll be catered by UBC Scholars so, if you haven’t already, make sure to let us know if you have any dietary restrictions!

    strong How do I get there?
    p UBC is accessible most easily by transit or driving. If you’re arriving by transit, the Oak House building is less than a ten-minute walk from the main bus loops. If you’re driving, double check the directions nearer to UBC as there are a number of tricky one way roads or not so obviously closed off routes. 

    strong I’ll be driving, so where is the best place to park?
    p The closest parking garage to Ponderosa Commons Oak House is the UBC West Parkade at 2140 Lower Mall, Vancouver, BC V6T 1Z2.

    strong What time do I need to arrive on Saturday, October 14th?
    p Please arrive between 9 and 9:30am to meet your mentor and the other participants.  The day will wrap up at around 5pm.

    strong Are parents and other supporters welcome to attend?
    p Support persons are welcome to attend the panel discussion from 10:00 to 11:00 am, and to visit the learning booths from 1:30 to 2:30 pm (participants will be attending  their small group sessions during this time). 

    p While the conference is not tailored to support persons, it is our hope that they will take advantage of the opportunity to connect with other support persons and enjoy some of the amenities on campus together.  

    strong What do I do if I’m late or unable to make it?
    p Let us know as soon possible! Please email us at 
      a(href="mailto:info@invisibleconditions.ca") info@invisibleconditions.ca
      | .

    strong Can I attend if I have not registered?
    p Yes! To save you a place and ensure we have food for you, please register as soon as possible. If life happens, you are welcome to attend on the day and we will try to accommodate you.

    strong Is there a cost to attend?
    p We have reached our first funding milestone and are now able to offer the conference at no cost to participants! We are also able to provide snacks and lunch.

    strong Why should I attend the conference?
    p Because at this conference...

    ul
      li You can make REAL connections with REAL people!
      li Be the start of something new and exciting!
      li You’ll get to meet people who’ve been there and done that!
      li Meet friends you didn’t know you already have! 
      li We get your struggles!
      li It’s all about you!
      li You are the expert! 
      li You’ll have fun with our giant beach ball, conversation ball pit, and life-sized board game!
      li You will take the first steps towards caring for you!
      li and, You’ll be well fed :)

    include ../contact
    include ../feed