extends ../base.pug

block content
  .container
    #mission-statement
      span Thank you for your interest in the
      span.highlight  Invisible Conditions Conference
      br
      br
      span A member of our team
      span.highlight  will contact you
      span  as soon as possible
  include ../contact
  include ../feed