mixin checkbox(id, label)
  .form-group
    input(type="checkbox" id=id name=id)
    label(for=id)= label

#mentor-match
  h1 Mentorship Matching Questionnaire
  p Thank you for your interest in our mentorship program.  Mentors must also attend a training session that will happen mid-May and complete a criminal record check. How and how often mentors and mentees stay in touch (i.e. emails, texts, in person meetups) will be up to each mentor-mentee pair.
  p Prior to being assigned to a participating mentor-mentee, please answer the following questions. These questions are designed to help us make the most compatible matches. Your answers will be kept confidential. 
  fieldset
    legend Medical Information
    .row
      .col-md
        .form-group
          label I have been diagnosed with
          +checkbox("crohns", "Crohns")
          +checkbox("colitis", "Colitis")
      .col-md
        .form-group
          label Is your condition active?
            span.required
          select(name="condition_active" required)
            option.hidden(disabled selected value)
            option Yes
            option No
    .row
      .col-md
        .form-group
          label How are you managing your condition, or its symptoms?
          textarea(name="how_managing" rows=4)
    .row
      .col-md
        .form-group
          label Have you required any surgeries for your condition? (If yes, please list)
          textarea(name="surgeries" rows=4)
    .row
      .col-md
        .form-group
          label What specialists are you currently seeing for your condition, or its symptoms?
          .row
            .col-md
              +checkbox("general_practitioner", "General Practitioner")
              +checkbox("gastroenterologist", "Gastroenterologist")
              +checkbox("immunologist", "Immunologist")
              +checkbox("endocrinologist", "Endocrinologist")
            .col-md
              +checkbox("neurologist", "Neurologist")
              +checkbox("counsellor", "Counsellor")
              +checkbox("psychiatrist", "Psychiatrist")
              +checkbox("psychologist", "Psychologist")
            .col-md
              +checkbox("pediatrician", "Pediatrician")
              +checkbox("surgeon", "Surgeon")
              +checkbox("nutritionist", "Nutritionist")
          .form-group
            label Other
            input(name="other_specialist")
    .row
      .col-md
        .form-group
          label Please rate the severity of your condition and associated symptoms
            span.required
          select(name="severity" required)
            option.hidden(disable selected value)
            option Extremely Severe
            option Very Severe
            option Moderately Severe
            option Slightly Severe
            option Not Severe
      .col-md
        .form-group
          label Please rate your general mood
            span.required
          select(name="mood" required)
            option.hidden(disable selected value)
            option I am happy for most of each day
            option I am content for most of each day
            option I am sad for most of each day
            option I am very sad most of the day
  fieldset
    legend Personal Interests
    .row
      .col-md
        label What are your hobbies? Do you play or enjoy to watch or talk about any sports?
          span.required
        textarea(name="hobbies" required rows=4)
      .col-md
        label What type of music do you like?
          span.required
        textarea(name="music" required rows=4)
    .row
      .col-md
        label Please describe yourself in three words
          span.required
    .row
      .col-md
        .form-group
          table
            tr
              td
                label 1.
              td(width="95%")
                input(name="describe_word_1" required)
      .col-md
        .form-group
          table
            tr
              td
                label 2.
              td(width="95%")
                input(name="describe_word_2" required)
      .col-md
        .form-group
          table
            tr
              td
                label 3.
              td(width="95%")
                input(name="describe_word_3" required)
    .row
      .col-md
        .form-group
          label How would you describe your perfect day?
            span.required
          textarea(name="perfect_day" required rows=4)
  fieldset
    legend Other
    .form-group
      label Do you have a preference in a mentor matching
        span.required
      select(name="gender_preference" required)
        option(disabled selected value)
        option It doesn't matter
        option Yes, I would prefer a male mentor/mentee
        option Yes, I would prefer a female mentor/mentee
    .form-group
      label After the conference, how would you prefer to stay in touch with your mentor or mentee?
        span.required
      +checkbox("after_contact_person", "In-person")
      +checkbox("after_contact_email", "E-mail")
      +checkbox("after_contact_skype", "Skype")
      +checkbox("after_contact_text", "Text")
      +checkbox("after_contact_facebook", "Facebook")
      +checkbox("after_contact_messenger", "Messenger")
      +checkbox("after_contact_phone", "Phone Call")
      input(name="after_contact_other" placeholder="Other")
    .form-group
      label After the conference, would you be interested in attending social gatherings with other participants?
        span.required
      select(name="after_social" required)
        option(disabled selected value)
        option Yes
        option No
    .form-group
      label If there is anything else you would like to tell us about yourself, or your preferences (medical, personal etc.) please use this space to do so:
      textarea(name="about_other" rows=4)