mixin checkbox(id, label)
  .form-group
    input(type="checkbox" id=id name=id)
    label(for=id)= label

doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Invisible Conditions Conference | Registration
    link(rel="stylesheet" href="/css/theme.css")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script(src="/js/register.js")
  body
    .container
      .text-center
        a(href="/")
          img#logo(src="/img/logo-nav.png" height="72px" width="auto" alt="Invisible Conditions")
      if mentor
        #mentor
          p Thank you for your interest in becoming a mentor for the Invisible Conditions Conference. To be a mentor you must be available for the day of the conference, Saturday, June 24th, 2017 to be held at the UBC Vancouver campus in Ponderosa Commons. You must also be available for a training session that will take place in mid-May and complete a criminal record check.  Other than this, the time you commit to this project is up to you! How and how often mentors and mentees stay in touch (i.e. emails, texts, in person meetups) will be up to each mentor-mentee pair.
          p To participate as a mentor, please answer the following questions and complete the mentor-mentee matching questionnaire. These questions are designed to help us tailor your experience as a mentor to optimize your benefits. Your answers will be kept confidential. 
      form#register-form(action="/register.php" method="post")
        if mentor
          fieldset#student-status
            legend Student Status
            .form-group
              label Are you a UBC Student?
                span.required
              .text-danger.hidden Please note that at this time, during our pilot year, only UBC Students are eligible to be mentors.
              select
                option.hidden(disabled selected value)
                option Yes
                option No

        fieldset
          legend Personal Information
          .row
            .col-md
              .form-group
                label First Name
                  span.required
                input(name="first_name" required)
            .col-md
              .form-group
                label Last Name
                  span.required
                input(name="last_name" required)
          .row
            .col-md
              .form-group
                label Gender
                  span.required
                select(name="gender" required)
                  option Male
                  option Female
                  option Prefer not to say
                  option Other
            .col-md
              .form-group
                label I identify as
                input(name="gender_identity")
          .row
            .col-md
              .form-group
                label Birthdate
                  span.required
                input(name="birthday" type="date" required)
        fieldset
          legend Contact Information
          .row
            .col-md
              .form-group
                label Phone Number
                  span.required
                input(name="phone" type="tel" required)
            .col-md
              .form-group
                label E-mail
                  span.required
                input(name="email" type="email" required)
          .row
            .col-md
              .form-group
                label How do you want to be contacted?
                  span.required
                select(name="contact_pref" required)
                  option Phone
                  option E-mail
          .row
            .col-md
              .form-group
                label Street or Mailing Address
                input(name="address")
            .col-md
              .form-group
                label Appt. or Unit #
                input(name="unit_number")
          .row
            .col-md
              .form-group
                label City
                  span.required
                input(name="city" required)
            .col-md
              .form-group
                label Postal Code
                  span.required
                input(name="postal_code" required)
        fieldset
          legend Emergency Contact
          .row
            .col-md
              .form-group
                label First Name
                  span.required
                input(name="emergency_contact_first" required)
            .col-md
              .form-group
                label Last Name
                  span.required
                input(name="emergency_contact_last" required)
          .row
            .col-md
              .form-group
                label Phone Number
                  span.required
                input(name="emergency_contact_phone" type="tel" required)
            .col-md
              .form-group
                label E-mail
                  span.required
                input(name="emergency_contact_email" type="email" required)
        fieldset
          legend Lunch
            span.required
          .row
            .col-md
              .form-group
                input(type="radio" name="lunch" id="lunch1" value="Antipasto Vegetable Wrap" required) 
                label.inline(for="lunch1") Antipasto Vegetable Wrap  (Grilled vegetables, sun-dried tomato tapenade, spinach and feta cheese.)
              .form-group
                input(type="radio" name="lunch" id="lunch2" value="Smashed Chickpea on Multigrain" required) 
                label.inline(for="lunch2") Smashed Chickpea on Multigrain (Tomato, lettuce, baby kale, sprouts, carrots and turmeric smashed chickpeas.)
              .form-group
                input(type="radio" name="lunch" id="lunch3" value="Grilled Flank Steak on Cheddar Garlic Sourdough" required) 
                label.inline(for="lunch3") Grilled Flank Steak on Cheddar Garlic Sourdough (Red onion & bacon jam, smoked cheddar and lettuce.)
              .form-group
                input(type="radio" name="lunch" id="lunch4" value="Chicken BLT Wrap" required)
                label.inline(for="lunch4") Chicken BLT Wrap (Crispy chicken, bacon, lettuce, avocado, tomato and cajun herb mayo.)
              .form-group
                input(type="radio" name="lunch" id="lunch5" value="Chicken Cashew Crunch Wrap" required)
                label.inline(for="lunch5") Chicken Cashew Crunch Wrap (Toasted cashews, lettuce, snap peas, red cabbage, shredded carrot, onion and tahini aioli.)
              .form-group
                input(type="checkbox" name="gluten_free" id="gluten_free")
                label.inline(for="gluten_free") Please check here for gluten free bread/wrap
        fieldset
          legend Special Considerations
          p Please let us know how we can make your experience more comfortable in the following areas:
          .row
            .col-md
              .form-group
                label Accessibility
                textarea(name="accessibility" rows=4)
          .row
            .col-md
              .form-group
                label Allergies
                textarea(name="allergies" rows=4)
          .row
            .col-md
              .form-group
                label Other
                textarea(name="special_other" rows=4)
        fieldset
          legend Research Interest
            span.required
          p The Invisible Conditions Conference is interested in learning more about your experiences with inflammatory bowel disease (IBD) and sharing what we learn generally from the teens and mentors with IBD. This will help with the future development of our conference and potentially helping others with invisible conditions. Your information will be identified by a code number only, and your anonymity will be protected at all times (i.e., in no way will your name be disclosed).
          .row
            .col-md
              .form-group
                input(type="radio" name="research_interest" id="research-interest-yes" value="yes")
                label.inline(for="research-interest-yes") Yes, I am interested (signed consent will be collected at the conference).
              .form-group
                input(type="radio" name="research_interest" id="research-interest-no" value="no")
                label.inline(for="research-interest-no") No, I am not interested
        if !mentor
          fieldset#mentorship-interest
            legend Mentorship Interest
              span.required
            p In addition to attending the Invisible Conditions Conference on June 24th, conference participants have the option of being paired up with a mentor.  Our mentors are UBC students with IBD who have navigated both high school and the healthcare system and are a source of advice and support to mentees. How and how often mentors and mentees stay in touch (i.e. emails, texts, in person meetups) will be up to each mentor-mentee pair.
            .row
              .col-md
                .form-group
                  input(type="radio" name="mentor_interest" id="mentor_interest_yes" value="yes")
                  label.inline(for="mentor_interest_yes") Yes, I would like to be matched up with a mentor.
                .form-group
                  input(type="radio" name="mentor_interest" id="mentor_interest_no" value="no")
                  label.inline(for="mentor_interest_no") No, I would not like to be matched up with a mentor at this time.
        include mentor-match
        .text-center
          button(type="submit") Register    