section#about
  .container
    .row
      .col-md
        .panel-wrapper
          .panel-header
            h1 The Conference
          .panel
            p Invisible Conditions Conference (ICC) aims to bring teens and young adults with chronic health conditions together in a safe space to share their experiences and support each other. Individuals living with invisible conditions face challenges and barriers beyond their physical symptoms such as navigating relationships, developing identity, facing stigma, and coping with diagnoses. 
            p In our pilot year, we would like to invite those living with inflammatory bowel disease (IBD; e.g., Crohn's Disease and Ulcerative Colitis) to the conference. This focus will help shape how we can support other individuals with invisible conditions, in particular those with rare and unique conditions that face similar challenges.

      .col-md
        .panel-wrapper
          .panel-header
            h1 Conference Details
          .panel
            p Date and Time:  October 14th, 2017 | 9:00 AM to 5:00 PM
            p Location: UBC Vancouver Campus
            p The ICC day will include dynamic and engaging activities, a keynote speaker, break-out group sessions, and learning booths. Throughout the day, youth will hear from, speak with, and learn from each other, as well as ICC mentors. ICC will help youth feel ready to take on and manage the unique challenges they face.
            p
              a(href="#more-info") Join the Conference
            p
              a(href="/be-a-mentor.html") Be a Mentor

      .col-md
        .panel-wrapper
          .panel-header
            h1 Special Thanks To
          .panel.text-center
            p This conference is brought to you with the support of the Faculty of Education and Access & Diversity at the University of British Columbia (UBC)
            img(src="/img/UBC_AccessDiversity.svg")
            hr
            img(src="/img/UBC_Education.svg")
