section#about
	.container
		.row
			.col-md
				.panel-wrapper
					.panel-header
						h1 The Conference
					.panel
						p The Invisible Conditions Conference proposes bringing youth (ages 12-18) and post-secondary students together in a safe space to share their knowledge and empower the youth with self-advocacy skills. Led by a team of post-secondary students who have experience with these conditions, sessions will focus on common challenges and stories of success. The vision for the Invisible Conditions Conference is to bring this usually private struggle into the light, and offer kindness and support to youth who fight it daily.

			.col-md
				.panel-wrapper
					.panel-header
						h1 Our Pilot Year
					.panel
						ul
							li Give youth a safe space to come together to connect, share stories and experiences, and create a supportive network.
							br
							li Prepare, connect, and facilitate mentorship relationships between post-secondary students and youth.
							br
							li Support the Mental Health and Wellbeing of youth with chronic conditions.

			.col-md
				.panel-wrapper
					.panel-header
						h1 Special Thanks To
					.panel.text-center
						p This conference is brought to you in collaboration with GI Society.
						img(src="img/gis.png")