section#about
	.container
		.row
			.col-md
				.panel-wrapper
					.panel-header
						h1 The Conference
					.panel
						p The Invisible Conditions Conference proposes bringing youth (ages 12-18) and post-secondary students together in a safe space to share their knowledge and empower the youth with self-advocacy skills. Led by a team of post-secondary students who have experience with these conditions, sessions will focus on common challenges and stories of success. The vision for the Invisible Conditions Conference is to bring this usually private struggle into the light, and offer kindness and support to youth who fight it daily.

			.col-md
				.panel-wrapper
					.panel-header
						h1 Our Pilot Year
					.panel
						p In our pilot year, we would like to focus on youth with inflammatory bowel disease (IBD, e.g. Crohn's Disease and Ulcerative Colitis). Canada has one of the highest rates of inflammatory bowel disease in the world, occurring in approximately 1 in 150 people. These conditions can be physically and emotionally painful, as well as embarrassing and isolating. This pilot year will help shape how we can support other individuals with invisible conditions, in particular those with rare and unique conditions that face similar challenges.

			.col-md
				.panel-wrapper
					.panel-header
						h1 Special Thanks To
					.panel.text-center
						p This conference is brought to you in collaboration with GI Society.
						img(src="img/gis.jpg")