#banner
  // Prefetch banners
  .hidden
    img(src="img/banner1.jpeg")
    img(src="img/ComputerSignUp_Header.jpeg")
    img(src="img/banner2.jpeg")
    img(src="img/banner3.jpeg")
  #carousel
    .container
      img(src="img/logo.png")
      h1 Sign up for our mailing list! 
        br
        | Be ready when registration opens in August.