doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Invisible Conditions Conference | Connecting and empowering youth
    link(rel="stylesheet" href="/css/theme.css?version=2")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script(src="/js/app.js?version=2")
  body
    header
      include nav
    block content
    include footer