section#contact-us
	.container
		h1 Contact Us
		p Have questions? Want to connect?
		p.margin-top-20 Email Us:
		p
			a(href="mailto:info@invisibleconditions.ca") info@invisibleconditions.ca
		p.margin-top-20 Connect with us on social media.
		#social-buttons
			a(href="https://www.facebook.com/InvisibleConditionsConference/").facebook
			//.twitter
			a(href="https://www.instagram.com/invisibleconditions/").instagram