section#donate
  .container
    .panel-group
      include donate-panel
      include special-thanks-to
    .text-center
      a(href="mailto:simon.lisaingo@invisibleconditions.ca?subject=Donation%20Inquiry")
        button Donate to us now
