extends base.pug

block content

  #banner
    #carousel
      .container
          h1 Thank You!
          h1 We appreciate everyone who was part of the conference

  include mission-statement
  include about
  include more-info
  include contact
  include feed
