extends base.pug

block content

  #banner
    #carousel
      .container
          #register-now Register Now!
          h1 You can now register for the
            br
            em Invisible Conditions Conference

  include mission-statement
  include about
  include more-info
  include contact
  include feed
