extends base.pug

block content

  #banner
    #carousel
      .container
          #register-now Thank You!
          h1 We appreciate everyone who was part of our conference.

  include mission-statement
  include about
  include more-info
  include contact
  include feed
