doctype html
html
	head
		title The Invisible Conditions Conference – Connecting and empowering youth with chronic health conditions.
		link(rel="stylesheet" href="css/theme.css")
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="js/app.js")
	body
		header
				include nav
				include logo
		include about
		include more-info
		include sponsors
		include feed
		include footer
