#modal.hidden
  #modal-dialog
    a(role="button").close.pull-right X
    .prev <
    .next >
    #modal-content
      img(src="/img/BubbleBlue.svg")
      .name
        .first
        | &nbsp;
        .last
      .title
      .quote
      p.bio