section#more-info
	form.container(action="//invisibleconditions.us15.list-manage.com/subscribe/post?u=297ab086c5be06e3fcf7995e0&amp;id=1e31923fde" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
		h1.text-center Interested?
		p.text-center Sign up for more info
			.form-group
				label Email:
					span.required
				input(type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email address")
			.form-group
				label I am interested in:
					span.required
				select(select name="INTEREST" class="required" id="mce-INTEREST")
					option(value="Attending") Attending
					option(value="Mentoring") Mentoring
					option(value="Volunteering") Volunteering
					option(value="Other") Other
			.form-group
				textarea(name="COMMENTS" class="" id="mce-COMMENTS" placeholder="comments" rows="4")
			.text-center
				button(type="submit") Submit

