section#more-info
	form.container(id="more-info-form" action="/api/more-info")
		h1.text-center Interested?
		p.text-center Sign up for more info
			.form-group
				label Email:
					span.required
				input(name="email" type="email" placeholder="email address")
			.form-group
				label I am interested in:
					span.required
				select(name="interest")
					option(value="attend") Attending
					option(value="mentor") Mentoring
					option(value="volunteer") Volunteering
					option(value="other") Other
			.form-group
				textarea(name="COMMENTS" placeholder="comments" rows="4")
			.text-center
				button(type="submit") Submit

