section#more-info
	h1.text-center Interested?
	.text-center 
		p Sign up for more info
		p.hidden.text-success#submit-success
	form.container#subscribeForm(action="//invisibleconditions.us15.list-manage.com/subscribe/post?u=297ab086c5be06e3fcf7995e0&id=1e31923fde" method="post" class="validate" novalidate)
		.form-group
			label Email:
				span.required
			p.hidden.text-danger#email-error Please enter a valid email address
			input(type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email address")
		.form-group
			label I am interested in:
				span.required
			select(select name="INTEREST" class="required")
				option(value="Attending") Attending
				option(value="Mentoring") Mentoring
				option(value="Volunteering") Volunteering
				option(value="Other") Other
		.form-group
			textarea(name="COMMENTS" placeholder="comments" rows="4")
		.text-center
			p.hidden.text-danger#submit-error
			button(type="submit") Submit

