nav
  .container
    a.navbar-brand(href="#")
      img(src="img/logo-nav.png" height="48px" width="auto" alt="Invisible Conditions")
    .navbar-nav.pull-right
      a(href="#about") About
      a(href="/team") Team
      a(href="/support-us") Donate
      a(href="/support-us") Sponsor
      a(href="#contact-us") Contact Us