mixin checkbox(id, label)
  .form-group
    input(type="checkbox" id=id name=id)
    label(for=id)= label

doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Invisible Conditions Conference | Registration
    link(rel="stylesheet" href="css/theme.css")
  body
    .container
      .text-center
        img(src="img/logo-nav.png" height="72px" width="auto" alt="Invisible Conditions")
      #mentor
        p Thank you for your interest in becoming a mentor for the Invisible Conditions Conference. To be a mentor you must be available for the day of the conference, Saturday, June 24th, 2017 to be held at the UBC Vancouver campus in Ponderosa Commons. You must also be available for a training session that will take place in mid-May and complete a criminal record check.  Other than this, the time you commit to this project is up to you! How and how often mentors and mentees stay in touch (i.e. emails, texts, in person meetups) will be up to each mentor-mentee pair.
        p To participate as a mentor, please answer the following questions and complete the mentor-mentee matching questionnaire. These questions are designed to help us tailor your experience as a mentor to optimize your benefits. Your answers will be kept confidential. 
        p Please note that at this time, during our pilot year, only UBC Students are eligible to be mentors.
      form(action="http://localhost:8000/register.php" method="post")
        fieldset
          legend Personal Information
          .row
            .col-md
              .form-group
                label First Name
                input(name="first_name" required)
            .col-md
              .form-group
                label Last Name
                input(name="last_name" required)
          .row
            .col-md
              .form-group
                label Gender
                select(name="gender" required)
                  option Male
                  option Female
                  option Prefer not to say
            .col-md
              .form-group
                label I identify as
                input(name="gender_identity")
          .row
            .col-md
              .form-group
                label Birthdate
                input(name="birthday" type="date" required)
            .col-md
              .form-group
                label Are you a UBC Student?
                select
                  option.hidden(disabled selected value)
                  option Yes
                  option No
        fieldset
          legend Contact Information
          .row
            .col-md
              .form-group
                label Phone Number
                input(name="phone" type="tel" required)
            .col-md
              .form-group
                label E-mail
                input(name="email" type="email" required)
          .row
            .col-md
              .form-group
                label How do you want to be contacted?
                select(name="contact_pref" required)
                  option Phone
                  option E-mail
          .row
            .col-md
              .form-group
                label Street or Mailing Address
                input(name="address")
            .col-md
              .form-group
                label Appt. or Unit #
                input(name="unit_number")
          .row
            .col-md
              .form-group
                label City
                input(name="city" required)
            .col-md
              .form-group
                label Postal Code
                input(name="postal_code" required)
        fieldset
          legend Emergency Contact
            .row
              .col-md
                .form-group
                  label First Name
                  input(name="emergency_contact_first" required)
              .col-md
                .form-group
                  label Last Name
                  input(name="emergency_contact_last" required)
            .row
              .col-md
                .form-group
                  label Phone Number
                  input(name="emergency_contact_phone" type="tel" required)
              .col-md
                .form-group
                  label E-mail
                  input(name="emergency_contact_email" type="email" required)
        fieldset
          legend Special Considerations
          p Please let us know how we can make your experience more comfortable in the following areas:
          .row
            .col-md
              .form-group
                label Accessibility
                textarea(name="accessibility")
          .row
            .col-md
              .form-group
                label Allergies
                textarea(name="allergies")
          .row
            .col-md
              .form-group
                label Other
                textarea(name="special_other")
        fieldset
          legend Lunch
          .row
            .col-md
              .form-group
                input(type="radio" name="lunch" id="lunch1" value="Antipasto Vegetable Wrap" required) 
                label(for="lunch1") Antipasto Vegetable Wrap  (Grilled vegetables, sun-dried tomato tapenade, spinach and feta cheese.)
              .form-group
                input(type="radio" name="lunch" id="lunch2" value="Smashed Chickpea on Multigrain" required) 
                label(for="lunch2") Smashed Chickpea on Multigrain (Tomato, lettuce, baby kale, sprouts, carrots and turmeric smashed chickpeas.)
              .form-group
                input(type="radio" name="lunch" id="lunch3" value="Grilled Flank Steak on Cheddar Garlic Sourdough" required) 
                label(for="lunch3") Grilled Flank Steak on Cheddar Garlic Sourdough (Red onion & bacon jam, smoked cheddar and lettuce.)
              .form-group
                input(type="radio" name="lunch" id="lunch4" value="Chicken BLT Wrap" required)
                label(for="lunch4") Chicken BLT Wrap (Crispy chicken, bacon, lettuce, avocado, tomato and cajun herb mayo.)
              .form-group
                input(type="radio" name="lunch" id="lunch5" value="Chicken Cashew Crunch Wrap" required)
                label(for="lunch5") Chicken Cashew Crunch Wrap (Toasted cashews, lettuce, snap peas, red cabbage, shredded carrot, onion and tahini aioli.)
              .form-group
                input(type="checkbox" name="gluten_free" id="gluten_free")
                label(for="gluten_free") Please check here for gluten free bread/wrap
        fieldset
          legend Research Interest
          p The Invisible Conditions Conference is interested in learning more about your experiences with inflammatory bowel disease (IBD) and sharing what we learn generally from the teens and mentors with IBD. This will help with the future development of our conference and potentially helping others with invisible conditions. Your information will be identified by a code number only, and your anonymity will be protected at all times (i.e., in no way will your name be disclosed).
          .row
            .col-md
              .form-group
                input(type="radio" name="research_interest" id="research-interest-yes" value="yes")
                label(for="research-interest-yes") Yes, I am interested (signed consent will be collected at the conference).
              .form-group
                input(type="radio" name="research_interest" id="research-interest-no" value="no")
                label(for="research-interest-no") No, I am not interested
        fieldset
          legend Mentorship Interest
          p In addition to attending the Invisible Conditions Conference on June 24th, conference participants have the option of being paired up with a mentor.  Our mentors are UBC students with IBD who have navigated both high school and the healthcare system and are a source of advice and support to mentees. How and how often mentors and mentees stay in touch (i.e. emails, texts, in person meetups) will be up to each mentor-mentee pair.
          .row
            .col-md
              .form-group
                input(type="radio" name="mentor_interest" id="mentor_interest_yes" value="yes")
                label(for="mentor_interest_yes") Yes, I would like to be matched up with a mentor.
              .form-group
                input(type="radio" name="mentor_interest" id="mentor_interest_no" value="no")
                label(for="mentor_interest_no") No, I would not like to be matched up with a mentor at this time.
        h1 Mentorship Matching Questionnaire
        p Thank you for your interest in our mentorship program.  Mentors must also attend a training session that will happen mid-May and complete a criminal record check. How and how often mentors and mentees stay in touch (i.e. emails, texts, in person meetups) will be up to each mentor-mentee pair.
        p Prior to being assigned to a participating mentor-mentee, please answer the following questions. These questions are designed to help us make the most compatible matches. Your answers will be kept confidential. 
        fieldset
          legend Medical Information
          .row
            .col-md
              .form-group
                label I have been diagnosed with
                +checkbox("crohns", "Crohns")
                +checkbox("colitis", "Colitis")
            .col-md
              .form-group
                label Is your condition active?
                select(name="condition_active" required)
                  option.hidden(disabled selected value)
                  option Yes
                  option No
          .row
            .col-md
              .form-group
                label How are you managing your condition, or its symptoms?
                textarea(name="how_managing")
          .row
            .col-md
              .form-group
                label Have you required any surgeries for your condition? (If yes, please list)
                textarea(name="surgeries")
          .row
            .col-md
              .form-group
                label What specialists are you currently seeing for your condition, or its symptoms?
                .row
                  .col-md
                    +checkbox("general_practitioner", "General Practitioner")
                    +checkbox("gastroenterologist", "Gastroenterologist")
                    +checkbox("immunologist", "Immunologist")
                    +checkbox("endocrinologist", "Endocrinologist")
                  .col-md
                    +checkbox("neurologist", "Neurologist")
                    +checkbox("counsellor", "Counsellor")
                    +checkbox("psychiatrist", "Psychiatrist")
                    +checkbox("psychologist", "Psychologist")
                  .col-md
                    +checkbox("pediatrician", "Pediatrician")
                    +checkbox("surgeon", "Surgeon")
                    +checkbox("nutritionist", "Nutritionist")
                .form-group
                  label Other
                  input(name="other_specialist")
          .row
            .col-md
              .form-group
                label Please rate the severity of your condition and associated symptoms
                select(name="severity")
                  option.hidden(disable selected value)
                  option Extremely Severe
                  option Very Severe
                  option Moderately Severe
                  option Slightly Severe
                  option Not Severe
            .col-md
              .form-group
                label Please rate your general mood
                select(name="mood")
                  option.hidden(disable selected value)
                  option I am happy for most of each day
                  option I am content for most of each day
                  option I am sad for most of each day
                  option I am very sad most of the day
        fieldset
          legend Personal Interests
          .row
            .col-md
              label What are your hobbies? Do you play or enjoy to watch or talk about any sports? 
              textarea(name="hobbies")
            .col-md
              label What type of music do you like?
              textarea(name="music")
          .row
            .col-md
              label Please describe yourself in three words
          .row
            .col-md
              table
                tr
                  td
                    label 1.
                  td(width="95%")
                    input(name="describe_word_1")
            .col-md
              table
                tr
                  td
                    label 2.
                  td(width="95%")
                    input(name="describe_word_2")
            .col-md
              table
                tr
                  td
                    label 3.
                  td(width="95%")
                    input(name="describe_word_3")
          .row
            .col-md
              .form-group
                label How would you describe your perfect day?
                textarea(name="perfect_day")
        fieldset
          legend Other
          .form-group
            label Do you have a preference in a mentor matching
            select(name="gender_preference" required)
              option(disabled selected value)
              option It doesn't matter
              option Yes, I would prefer a male mentor/mentee
              option Yes, I would prefer a female mentor/mentee
          .form-group
            label After the conference, how would you prefer to stay in touch with your mentor or mentee?
            +checkbox("after_contact_person", "In-person")
            +checkbox("after_contact_email", "E-mail")
            +checkbox("after_contact_skype", "Skype")
            +checkbox("after_contact_text", "Text")
            +checkbox("after_contact_facebook", "Facebook")
            +checkbox("after_contact_messenger", "Messenger")
            +checkbox("after_contact_phone", "Phone Call")
            input(name="after_contact_other" placeholder="Other")
          .form-group
            label After the conference, would you be interested in attending social gatherings with other participants?
            select(name="after_social" required)
              option(disabled selected value)
              option Yes
              option No
          .form-group
            label If there is anything else you would like to tell us about yourself, or your preferences (medical, personal etc.) please use this space to do so:
            textarea(name="about_other" rows=4)
        .text-center
          button(type="submit") Register    