#special-thanks-to.panel
  .panel-header
    h1 Special Thanks To
  .panel-body.text-center
    p This conference is brought to you with the support of the Faculty of Education and Access & Diversity at the University of British Columbia (UBC)
    img(src="/img/UBC_AccessDiversity.svg" style="max-height: 100px;")
    hr
    img(src="/img/UBC_Education.svg" style="max-height: 100px;")