section#sponsors
	.container
		.text-center
			h1 Our Sponsors
			p Thank you to the following for your support
		.row
			.col-md
				.badge 
					p In collaboration with
				a(href="http://www.badgut.org/")
					img(src="img/gis.png")
			.col-md
				.badge
					p Hosted by UBC Faculty of Education
					p Sponsored by UBC Access & Diversity

				a(href="http://www.ubc.ca/")
					img(src="img/ubc.png")