section#sponsors
	.container
		.text-center
			h1 Sponsors
			p Thank you to the following for your support
		table
			tr
				td
					.badge In collaboration with
					a(href="http://www.badgut.org/")
						img(src="img/gis.png")
				td
					.badge Hosted by Faculty of Education
					a(href="http://www.ubc.ca/")
						img(src="img/ubc.png")