section#sponsors
	.container
		h1.text-center Sponsors
		table
			tr
				td.text-center
					a(href="http://www.badgut.org/")
						img(src="img/gis.png")
				td.text-center
					a(href="http://www.ubc.ca/")
						img(src="img/ubc.png")