section#become-a-sponsor
  .container
    .panel-group
      .panel
        .panel-header 
          h1 Become a sponsor
        .panel-body
          p Want to help with more than a donation? Become an event sponsor. Support from local businesses like yours will help create a great conference experience for youth to share their stories and better their support systems for the future.
          p Becoming a sponsor also lets you promote your business to the participants who come out to the 
            span.bold  Invisible Conditions Conference
            span  , as well as the families, friends, neighbours, and co-workers who support them. You will also be promoted on our social media channels to make sure all who support us know that you support us too. Sponsorship packages can be customized and offer a wide range of benefits:
          ul
            li 
              p Increase your presence in the community
            li 
              p Have your business introduced to a new group
            li 
              p Show your support for local initiatives - consumers like a caring business
          p Support the 
            span.bold  Invisible Conditions Conference
            span  , and you’ll be supporting something bigger than a one-day event. You’ll be supporting an initiative that has plans to grow! Help us start our journey of supporting youth with invisible conditions.
          p.together TOGETHER WE ARE NOT ALONE!
      #supported-by.panel
        .panel-header
          h1 Supported by
        .panel-body
          p.text-center As a sponsor your logo could be listed here:
          img(src="/img/YourLogoGoesHere.svg" style="max-height: 400px;")
    .text-center
      button.btn.btn-block LEARN MORE ABOUT SPONSORSHIP