doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Invisible Conditions Conference | Meet the Team
    link(rel="stylesheet" href="css/theme.css?version=1")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script(src="js/app.js?version=1")
  body#team
    header
      include nav
    #banner
      #carousel
        .container
          h1 OUR TEAM IS A GROUP OF YOUNG ADULTS LOOKING TO MAKE A DIFFERENCE.
    .container
      #mission-statement
        span.highlight OUR TEAM &nbsp;
        span IS DEDICATED TO IMPROVING THE LIVES OF YOUTH WITH &nbsp;
        span.highlight INVISIBLE CONDITIONS.
      section
        .panel-group
          .panel.text-center
            h1 Our Executive Team
        #members
          include member
          -
            var members = [{
              first: "Simon",
              last: "Lisaingo",
              title: "Chair / Funding & Outreach",
              quote: "He hopes this conference will allow him to give back some of the life lessons he has learnt along his journey",
              bio: "Simon has lived with Crohn’s disease for over 10 years. He hopes this conference will allow him to give back some of the life lessons he has learnt along his journey. His research examines how students overcome challenges they face at school and at home. Prior to commencing his graduate studies in school psychology, Simon worked as a middle school and high school teacher in the Yukon, Ontario, British Columbia."
            },
            {
              first: "Adam",
              last: "Huizinga",
              title: "Vice-Chair / Logistics & Mentorship",
              quote: "His hope is to share his experience not only managing the disease, but to de-stigmatize conversations",
              bio: "Simon has lived with Crohn’s disease for over 10 years. He hopes this conference will allow him to give back some of the life lessons he has learnt along his journey. His research examines how students overcome challenges they face at school and at home. Prior to commencing his graduate studies in school psychology, Simon worked as a middle school and high school teacher in the Yukon, Ontario, British Columbia."
            },
            {
              first: "Robyn",
              last: "McClure",
              title: "Content, Experts, & Evaluation",
              quote: "She believes this conference will offer an invaluable safe space for students to share their challenges with IBD",
              bio: "Simon has lived with Crohn’s disease for over 10 years. He hopes this conference will allow him to give back some of the life lessons he has learnt along his journey. His research examines how students overcome challenges they face at school and at home. Prior to commencing his graduate studies in school psychology, Simon worked as a middle school and high school teacher in the Yukon, Ontario, British Columbia."
            },
            {
              first: "Peter",
              last: "Dobranowski",
              title: "Content, Experts, & Evaluation",
              quote: "Because of his condition, he has committed himself to contributing to the conversation of curing IBD",
              bio: "Simon has lived with Crohn’s disease for over 10 years. He hopes this conference will allow him to give back some of the life lessons he has learnt along his journey. His research examines how students overcome challenges they face at school and at home. Prior to commencing his graduate studies in school psychology, Simon worked as a middle school and high school teacher in the Yukon, Ontario, British Columbia."
            },
            {
              first: "Hailey",
              last: "Kolenda",
              title: "Marketing & Recruitment",
              quote: "Since her journey began she has been driven to help support others going through similar situations",
              bio: "Simon has lived with Crohn’s disease for over 10 years. He hopes this conference will allow him to give back some of the life lessons he has learnt along his journey. His research examines how students overcome challenges they face at school and at home. Prior to commencing his graduate studies in school psychology, Simon worked as a middle school and high school teacher in the Yukon, Ontario, British Columbia."
            },
            {
              first: "Karmen",
              last: "Lisaingo",
              title: "Logistics & Mentorship",
              bio: "Simon has lived with Crohn’s disease for over 10 years. He hopes this conference will allow him to give back some of the life lessons he has learnt along his journey. His research examines how students overcome challenges they face at school and at home. Prior to commencing his graduate studies in school psychology, Simon worked as a middle school and high school teacher in the Yukon, Ontario, British Columbia."
            }];
          each member in members
            +member(member)
    include contact
    include feed
    include footer
    include modal